*{
    margin: 0px;
    padding: 0px;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
   background: linear-gradient(#00cc9c, #ff80d3);
   background-repeat: no-repeat;
   background-image: url(image/phu.jpeg);
   background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todo-container{
    text-align: center;
    width: 300px;
}

h1{
    color: white;
    background-color: black;
    padding: 8px;
    width: 200px;
    border-radius: 20px;

}

#task-form{
    display: flex;
    margin-bottom: 20px;
}

#task-input{
    flex: 1;
    padding: 15px;
    border: 1px solid black;
    border: 8px 0 0 8px;
    width: 300px;
    border-radius: 10px;
}

button{
    padding: 10px;
    background-color: black;
    color: wheat;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: grey;
    transition-delay: 0.2s;
}

#task-list{
    list-style-type: none;
    padding: 0;
}

.task-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: grey;
    margin-bottom: 6px;
    border-radius: 5px;
}

.task-item button{
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
}